<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <link rel="stylesheet"
          href="/static/css/style.css">
</head>

<body>

<div class="login-container">

    <h2>Employee Management Login</h2>

    <input
        type="text"
        id="username"
        placeholder="Username">

    <input
        type="password"
        id="password"
        placeholder="Password">

    <button onclick="login()">
        Login
    </button>

</div>

<script src="/static/js/login.js"></script>

</body>
</html>